* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'aero';
  src: url("../Square.ttf");
}
body{
  background-image: url("../bgcofee.jpg");
  background-size: cover;
  background-position: left;
  height: 100vh;
  font-family: aero;
}
.flexnav{
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  list-style: none;
  margin: auto;
  font-family: aero;
}
.topnav{
  height: 50px;
  margin-bottom: 60px;
}
.fixed{
  position: fixed;
  width: 100vw;
}
.flexnav{
  width: 100%;
}
.item {
  width: calc(100% / 4);
  height: 100%;
  text-align: center;
}
.item a{
  display: block;
  width: 100%;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #2162A6;
  font-size: 1.2em;
}

.item a:hover{
  background-color: #59A27A;
  color: white;
}
.container{
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
  box-sizing: border-box;
}
.home{
  width: 1400px;
  height: 100%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 89px;
}
.fiche{
  height: 400px;
  width: 30%;
  color: white;
  background-color: rgba(96,222,85, 0.4);
  font-family: aero;

  margin-bottom: 60px;
}
.oth {
  background-color: rgba(30,119,226, 0.4);
}
.titre {
  text-align: center;
  width: 100%;
  height: 10%;
  margin: 0;
  font-size: 2em;
  margin-top: 5px;
  font-family: roboto;
}
.ficheflex {
  display: flex;
  flex-wrap: wrap;
}
.photo {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  margin-top: 15px;
  border-radius: 100px;
}
.bio{
  list-style-type: none;
  text-align: center;
  font-size: 1.5em;
  margin-top: 40px;
}
.bio li {
  margin-bottom: 60px;
}
.ico {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-left: 10px;
}
.level {
  height: 30px;
  width: calc(100% - 120px);
  border: 1px solid white;
  margin-left: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top:25px;
}
.sys, .network,.monq,.database{
  margin-top: 0;
}
.niv{
  width: 25%;
  height: 100%;
  float: left;
}
.niv:not(:last-child){
  width: calc(25% - 5px);
  border-right: 5px solid white;
}
.red{
  background-color: #F00D1E;
  border-radius: 10px 0px 0px 10px;
}
.orange {
  background-color: #D06900;
}
.green {
  background-color: green;
}
.max{
  background-color: #5ABE25;
  border-radius: 0px 10px 10px 0px;
}
.subtitle{
  font-size: 1.2em;
}
p{
  text-align: center;
  width: 100%;
}
.flexcenter{
  justify-content: center;
}
.fiche:last-child{
  padding-left: 25px;
  box-sizing: border-box;
}
.social a{
  text-decoration: none;
  color: white;
  font-size: 2em;
}
.social{
  width:calc(100% - 100px);
    display: block;
    padding-top: 25px;
}
.php h3{
  width:40%;
  background-color: slateblue;
}
.sql h3{
  width:60%;
  background-color: indianred;
}
.mysql h3 {
  background-color:mediumvioletred;
  width:60%;
}
.http h3{
  width:75%;
  background-color: darkmagenta;
}
.col{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.portfolio {
  background-color: rgba(0,0,0, 0.5);
}
.containfolio{
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding-bottom: 115px;
  box-sizing: border-box;
}
.project{
  width: 350px;
  height: 300px;
}
.pmarg{
  margin-bottom: 70px;
}
.vign{
  width: 100%;
  height: 300px;
}
.xy {
  background-image: url("../xy.png");
  background-position: center;
  background-size: cover;
}
.pf{
  background-color: white;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px black solid;
  margin-bottom: 150px;
  background-color: #59A27A;
}
.trombi {
  background-image: url("../trombi.png");
  background-position: center;
  background-size: cover;
}
.framework {
  background-image: url("../framework.png");
  background-position: center;
  background-size: cover;
}
.romanp {
  background-image: url("../romanp.png");
  background-position: center;
  background-size: cover;
}
.prairie {
  background-image: url("../prairie.png");
  background-position: center;
  background-size: cover;
}
.syndeo {
  background-image: url("../ddzev.jpg");
  background-position: center;
  background-size: cover;
}
